<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <form action="/request11" method="POST">
  Email registered with Udacity: <input type="text" name="email" required>
  <br />
  Studenthub handle: <input type="text" name="studenthubhandle" required>
  <br />
  <input type="submit" value="Schedule meeting">
</form>
</body>
 
</html>